<div class="page-header">
  <h1>重新发送确认帐号的步骤说明</h1>
</div>

<%= simple_form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post } do |f| %>
  <%= f.input :email, :label => "电子邮箱" %>
  <%= f.button :submit, :class => "btn-success", :value => "重发确认帐号的步骤说明" %>
<% end %>
<%= render :partial => "devise/shared/links" %>