<div class="span5">
  <p>如果您没有网站帐号，您还可以用以下帐号登录本网站：</p>
  <a class="span2" href="/auth/renren"><img class="login" src="/assets/renren.png"/></a>
  <a class="span2" href="/auth/qzone"><img class="login" src="/assets/qq.png"/></a> 
</div>