<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>您好，您有1条新留言</h3>
    <p>
      标题：<%= @message.subject %>
    </p>
    <p>
      您可以点击以下链接阅读留言内容： <br />
      http://www.xiaoyuanxiaopu.com/messages
    </p>
    <p>
      注：次邮件乃系统自动发出，请勿回复。
    </p>
   </body>
</html>