<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>您好，您有1條新的留言</h3>
    <p>
      標題：<%= @message.subject %>
    </p>
    <p>
      您可以點擊以下鏈接閱讀留言內容: <br />
      http://www.mywebmarket.net/messages
    </p>
    <p>
      注：此郵件乃系統自動發出，請勿回覆。
    </p>
   </body>
</html>