div#map-modal, div#shop-map-modal {
	div#map-canvas{
		height: 350px;
	}
}

div#map, div#shop-map, div#new-item-map {
	div#map-canvas{
		height: 200px;
	}
}

div#item-location {
	margin-top: 15px;
}

div.item {
	position: relative;
	margin: 15px 0;
	padding: 20px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.item-action {
	div.btn-group {
		margin-bottom: 15px;
	}
}

div.center {
	text-align: center;
}

tr.warning {
	font-weight: bold;
}

dl.show-message {
	dd {
		margin-bottom: 15px;
	}
}

img.thumbnail {
	width: 300px;
}

div.toolbar {
	font-size: 15px;
	border-bottom: solid 2px #DCDCD5;
	padding: 20px 0px;
	text-align: center;	
	font-weight: bold;
}

div.alert-no-item {
  	margin-top: 50px;	
}  

div.renren-follow { text-align: center; }  
  
div.navbar{

	img.img-small {
		width: 40px;
	}

	form {
	    line-height: 56px;
	    margin-left: 20px;
	}

	ul.nav{
      li {
        a {
          line-height:40px;
        }
      }
      ul {
        width: 120px;
        text-align: center;
        li {
          a {
            line-height: 20px;
          }
        }
      }
	}
    .navbar-unread {
      display: block;
    }
    a {
      i.icon-search {
        margin: 5px;
      }
      i.icon-th-list {
        margin: 3px;
      }
    }
}

div.header {
	margin-top: 20px;
	margin-bottom: 10px;	
}

div.container-narrow {
  max-width: 700px;
  margin: 0 auto 15px auto;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

div.item-container {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 30px;
  margin-top: 30px;
  div.sidebar {
    border-right: 1px solid #DDDDDD;
    font-size: 16px;
    span{
      display: block;
      text-align: center;
      margin-bottom: 4px;
      &.month, &.year {
        line-height: 8px;
      }
      &.year {
        order-bottom: 1px solid #DDDDDD;
        padding-bottom: 8px;
      }
      &.day {
        font-size: 30px;
        line-height: 25px;
        font-weight: bold;
      }
      &.shop {
        margin-top:20px;
      }
      &.shop-follow {
        font-size:  12px;
      }
    }
  }
}

div.sidebar {
  div.widget {
    margin-bottom: 10px;
    img {
      width: 130px;
      margin-bottom: 16px;
    }
    h5 {
      margin-bottom: 6px;
      color: #999;
      font-size: 16px;
    }
    ul {
      margin: 0px;
      li {
        padding: 5px 0px;
        list-style: none;
        a {
          font-size: 14px;
        }
      }
    }
  }
}


span.tags {
  border: none;
  span.tag {
    padding: 2px 4px;
    &:hover{
      padding: 2px 6px;
    }
    &.city {
      background-color: #3498db;
    }
    &.zone {
      background-color: #1ABC9C;
    }
    &.category {
      background-color: #2ecc71;
    }
    &.soldout {
      background-color: #E67E22;
    }
    &.price {
      background-color: #9b59b6;
    }
    &.follows {
      background-color: #1ABC9C;
    }
    &.items {
      background-color: #E67E22;
    }
    font-size: 12px;
  }
}

div.pagination {
  li.previous_page, li.next_page {
    display: none;
  }
}

a {
  color: #27CFC3;
  text-decoration: none;
  &:hover {
    color: #444;
    cursor: pointer;
  }
}

h1.item-title, h1.shop-title {
  span.tags {
    line-height: 25px;
    span.tag {
      font-size: 16px;
    }
  }
}

.btn{
  &.circle {
    border-radius:50px;
  }
}

div.sub-actions {
  margin-right:50px;
}

div#shops-container {
  div.shop {
  }
}

div.new-shop-map {
  margin-bottom: 30px;
}

div#share-bar {
  height: 50px;
  span.jiathis_txt {
    font-size: 16px;
  }
}

div#choose-zone-modal {
  margin-left: 40px;
}

span#shop-zone-text{
  font-size: 20px;
}

.font-middle {
  font-size: 16px;
}

.font-small {
  font-size: 12px;
}

form {
  abbr {
    display: none;
  }
}
