<p>您好<%= @resource.name %>!</p>

<p>我们收到了您修改密码的要求，请点击以下链接更改您的密码：</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有申请更改密码，请忽略这封邮件。</p>
<p>在您点击以上链接并设置新密码之前，您的密码将不会被更改。</p>
