<p>您好 <%= @resource.name %>!</p>

<p>我們收到了您更改密碼的要求，請點擊以下鏈接更改您的密碼：</p>

<p><%= link_to '更改我的密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您沒有申請更改密碼，請忽略這封郵件。</p>
<p>在您點擊以上鏈接並設置新密碼之前，您的密碼將不會被更改。</p>
