<hr>
<div id="footer">
  <div class="container">
    <p class="muted credit">欢迎来到校园小铺! <a href="#" data-toggle="modal" data-target="#aboutus-modal">网站理念</a></p>
  </div>
</div>
<div class="modal hide fade" id="aboutus-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>欢迎来到校园小铺！</h3>
  </div>
  <div class="modal-body">
    <h4>网站理念</h4>
    <p>
      读大学的时候，我总是会发现自己有很多有用的东西因为种种原因不得不扔掉，例如搬宿舍时扔掉的家电，用过的书本、手机等等。这些可能正是别人需要的资源。这一个提倡环保的现代社会，我惊奇地发现<strong>资源仍热在被大量的浪费</strong>。
    </p>
    <p>于是，我有了建立一个<strong>简单</strong>、<strong>方便</strong>的二手货交易平台的想法。</p>
    <p>不久之前，这个网站正式开放，希望今后它可以帮助到您。</p>     
    <p>
    	<span class="label label-info">随时随地</span>本网站的地图模式让您可以更佳轻松地发现周围的小铺和商品，或者创建自己独具特色的小铺。
    </p>
    <p>
    	<span class="label label-success">交流</span>校园生活是人一生中最美好的时光，校园里疯疯傻傻的玩伴往往是你一生的挚友。在一个信息技术如此发达的今天，我们鼓励更多线下的交流。或许，在一次次的交易中，您就找到了人生中最宝贵的一段友谊。
    </p>
    <hr>
   	<h4>联系我们</h4>
    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://widget.renren.com/plugin/followbutton?page_id=699228041&color=1&model=1" style="width:150px;height:40px;" ></iframe>  
   	<div class="renren-follow well">
		<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://widget.renren.com/plugin/follow?page_id=699228041" style="width:110px;height:190px;"></iframe>
	</div>
	<div><fb:like-box href="http://www.facebook.com/MyWebMarketCommunity" width="500" show_faces="true" stream="false" header="true"></fb:like-box></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
  </div>
</div>  