<div class="hero-unit">
  <h1><%= image_tag "/assets/logo_new.png", :class=>"img-rounded" %> 校园小铺 <small>开小铺，交朋友</small></h1>
  <p></p>
  <p>欢迎来到校园小铺，一个属于校园的交易平台。在这里，你可以充分发挥相像力，经营一家属于自己的校园小铺。在这里，你可以淘到自己喜欢的小玩意。线上的交易，线下的交流。开小铺，交朋友，享受校园生活吧！</p>
</div>