<div class="hero-unit">
  <h1><%= image_tag "/assets/logo_new.jpg", :class=>"img-rounded" %> 校园小铺 <small>开小铺，交朋友</small></h1>
  <p></p>
  <p>推广期间创立小铺全部免费！二手货？跑腿代购？外卖？DIY手工艺品？庞大的大学用户群让校园小铺成为您产品和创意的最佳的展示平台。个性化地设计让您可以打造属于自己独一无二的小铺！快来创建一个属于自己的小铺吧！</p>
</div>